@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

* {
    padding : 0 ;
    margin: 0 ;

}

body{
    background-color: #222;
    color: #fff;
     font-family: "Poppins", sans-serif;
     font-weight: 300;
     font-style: normal;

}

.crud {
    width: 80%;
    margin: auto ;
}

.head {
    text-align: center ;
    margin: 10px 0px ;
}

.head p {
    letter-spacing: 2px;
    font-weight: 400;
}

input {
    width: 100% ;
    height: 30px ;
    outline: none ;
    border: none ;
    background-color: #111;
    margin: 4px 0px ;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    transition: 0.4s;
}

input:focus {
    background-color: black;
    transform: scale(1.1);
}

.price input {
    width: 20%;
}
#total {
    background-color: rgb(195, 13, 0);
    padding: 5px 2px  ;
    border-radius: 4px ;
}
#total::before{
    content: "total : " ;
}
button {
    width: 100%;
    height: 30px;
    border: none ;
    cursor: pointer ;
    background-color: #585858;
    color:white;
    border-radius: 20px;
    margin-top: 10px ;
    text-transform: uppercase;
    transition: 0.1s;
}
button:hover {
    background-color:  #838383; 
    letter-spacing: 1px ;
}
.btnSearch {
    display: flex ;
    justify-content: space-between;
}
.btnSearch button {
    width: 45%;
}
table {
    width: 100%;
    text-align: center ;
    margin: 10px 0 ;
}

 th , td  {
    padding: 5px ;
}
